<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    Recipes
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/recipeList">
          <fa name="list"></fa>
          Recipes List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/addRecipe">
          <fa name="plus-circle"></fa>
          Add Recipe
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
